<% provide(:page_title, page_title("glyphicon-shopping_bag","终端列表","这里可以查询所有终端客户信息")) %>
<div class="block-section">
	<table class="ddatatabless table table-bordered table-hover" data-source="<%= clients_url(format: "json") %>">
		<thead>
			<tr>
				<th><i class="icon-user"></i> 终端名称</th>
				<th> 终端类型</th>
				<th> 终端等级</th>
				<th> 所属终端</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>