<% provide(:page_title, page_title("glyphicon-shopping_bag","联系人目录","这里可以查询所有联系人信息")) %>
<div class="block-section">
  <table class="ddatatabless table table-bordered table-hover" data-source="<%= contacts_url(format: "json") %>">
    <thead>
      <tr>
        <th><i class="icon-user"></i> 姓名</th>
        <th> 所属终端</th>
        <th> 部门</th>
        <th> 职务</th>
        <th> 联系方式</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>