<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="目标客户档案模板">
    <Table>
      <Row ss:Hidden="1">
        <Cell><Data ss:Type="String">name</Data></Cell>
        <Cell><Data ss:Type="String">client_id</Data></Cell>
        <Cell><Data ss:Type="String">department</Data></Cell>
        <Cell><Data ss:Type="String">duty</Data></Cell>
        <Cell><Data ss:Type="String">sex</Data></Cell>
        <Cell><Data ss:Type="String">birthdate</Data></Cell>
        <Cell><Data ss:Type="String">address</Data></Cell>
        <Cell><Data ss:Type="String">mobile</Data></Cell>
        <Cell><Data ss:Type="String">tel</Data></Cell>
        <Cell><Data ss:Type="String">email</Data></Cell>
        <Cell><Data ss:Type="String">tencent</Data></Cell>
        <Cell><Data ss:Type="String">idcard</Data></Cell>
        <Cell><Data ss:Type="String">hobby</Data></Cell>
        <Cell><Data ss:Type="String">matital</Data></Cell>
        <Cell><Data ss:Type="String">blood</Data></Cell>
        <Cell><Data ss:Type="String">height</Data></Cell>
        <Cell><Data ss:Type="String">nation</Data></Cell>
        <Cell><Data ss:Type="String">zodiac</Data></Cell>
        <Cell><Data ss:Type="String">weight</Data></Cell>
        <Cell><Data ss:Type="String">school</Data></Cell>
        <Cell><Data ss:Type="String">science</Data></Cell>
        <Cell><Data ss:Type="String">note</Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">MDR姓名</Data></Cell>
        <Cell><Data ss:Type="String">所属终端</Data></Cell>
        <Cell><Data ss:Type="String">科室</Data></Cell>
        <Cell><Data ss:Type="String">职务</Data></Cell>
        <Cell><Data ss:Type="String">性别</Data></Cell>
        <Cell><Data ss:Type="String">出生日期</Data></Cell>
        <Cell><Data ss:Type="String">家庭住址</Data></Cell>
        <Cell><Data ss:Type="String">手机</Data></Cell>
        <Cell><Data ss:Type="String">座机</Data></Cell>
        <Cell><Data ss:Type="String">邮箱地址</Data></Cell>
        <Cell><Data ss:Type="String">QQ</Data></Cell>
        <Cell><Data ss:Type="String">身份证号码</Data></Cell>
        <Cell><Data ss:Type="String">兴趣爱好</Data></Cell>
        <Cell><Data ss:Type="String">婚姻状况</Data></Cell>
        <Cell><Data ss:Type="String">血型</Data></Cell>
        <Cell><Data ss:Type="String">身高</Data></Cell>
        <Cell><Data ss:Type="String">籍贯</Data></Cell>
        <Cell><Data ss:Type="String">生肖</Data></Cell>
        <Cell><Data ss:Type="String">体重</Data></Cell>
        <Cell><Data ss:Type="String">毕业院校</Data></Cell>
        <Cell><Data ss:Type="String">学术地位</Data></Cell>
        <Cell><Data ss:Type="String">备注说明</Data></Cell>
      </Row>
    </Table>
  </Worksheet>
</Workbook>