<% provide(:page_title, page_title("glyphicon-shopping_bag","品种一览","这里列出了所有的品种")) %>
<div class="block block-themed block-last">
  <div class="block-title">
    <div class="block-options">
      <div class="btn-group">
        <a class="btn btn-option" href="javascript:void(0)"><i class="glyphicon-circle_plus"></i></a>
      </div>
    </div>
    <h4><i class="icon-asterisk"></i> Showing 10 out of 50 Products</h4>
  </div>
  <div class="block-content">
    <div class="row row-items">
      <div class="col-md-3">
        <div class="block">
          <div class="block-title">
            <h4>Categories Menu</h4>
          </div>
          <div class="block-content full">
            <ul class="nav nav-pills nav-stacked remove-margin">
              <li class="active"><a href="javascript:void(0)">Category #1</a></li>
              <li><a href="javascript:void(0)">Category #2</a></li>
              <li><a href="javascript:void(0)">Category #3</a></li>
              <li><a href="javascript:void(0)">Category #4</a></li>
              <li><a href="javascript:void(0)">Category #5</a></li>
              <li><a href="javascript:void(0)">Category #6</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row row-items">
          <div class="col-sm-2">
            <a href="javascript:void(0)">
              <img src="/assets/placeholders/image_160x120_dark.png" class="img-responsive" alt="Image">
            </a>
          </div>
          <div class="col-sm-6 content-text">
            <h4 class="media-heading"><a href="page_ready_product.php">Product #1</a> <small>2011 Edition</small></h4>
            <p>Donec lacinia venenatis metus at bibendum.. In hac habitasse platea dictumst..<br><strong>1  years warranty</strong></p>
            <p>Available: <strong>50</strong></p>
          </div>
          <div class="col-sm-4 push text-right">
            <h4 class="sub-header text-black">$ 983,00</h4>
            <a href="page_ready_shopping_cart.php" class="btn btn-warning"><i class="icon-shopping-cart"></i> Add to cart</a>
            <a href="javascript:void(0)" class="btn btn-success">Buy now</a>
          </div>
        </div>
        <div class="row row-items">
          <div class="col-sm-2">
            <a href="javascript:void(0)">
              <img src="/assets/placeholders/image_160x120_dark.png" class="img-responsive" alt="Image">
            </a>
          </div>
          <div class="col-sm-6 content-text">
            <h4 class="media-heading"><a href="page_ready_product.php">Product #2</a> <small>2013 Edition</small></h4>
            <p>Donec lacinia venenatis metus at bibendum.. In hac habitasse platea dictumst..<br><strong>5  years warranty</strong></p>
            <p>Available: <strong>67</strong></p>
          </div>
          <div class="col-sm-4 push text-right">
            <h4 class="sub-header text-black">$ 2423,00</h4>
            <a href="page_ready_shopping_cart.php" class="btn btn-warning"><i class="icon-shopping-cart"></i> Add to cart</a>
            <a href="javascript:void(0)" class="btn btn-success">Buy now</a>
          </div>
        </div>
        <div class="row row-items">
          <div class="col-sm-2">
            <a href="javascript:void(0)">
              <img src="/assets/placeholders/image_160x120_dark.png" class="img-responsive" alt="Image">
            </a>
          </div>
          <div class="col-sm-6 content-text">
            <h4 class="media-heading"><a href="page_ready_product.php">Product #3</a> <small>2011 Edition</small></h4>
            <p>Donec lacinia venenatis metus at bibendum.. In hac habitasse platea dictumst..<br><strong>1  years warranty</strong></p>
            <p>Available: <strong>62</strong></p>
          </div>
          <div class="col-sm-4 push text-right">
            <h4 class="sub-header text-black">$ 394,00</h4>
            <a href="page_ready_shopping_cart.php" class="btn btn-warning"><i class="icon-shopping-cart"></i> Add to cart</a>
            <a href="javascript:void(0)" class="btn btn-success">Buy now</a>
          </div>
        </div>
        <div class="row row-items">
          <div class="col-sm-2">
            <a href="javascript:void(0)">
              <img src="/assets/placeholders/image_160x120_dark.png" class="img-responsive" alt="Image">
            </a>
          </div>
          <div class="col-sm-6 content-text">
            <h4 class="media-heading"><a href="page_ready_product.php">Product #4</a> <small>2013 Edition</small></h4>
            <p>Donec lacinia venenatis metus at bibendum.. In hac habitasse platea dictumst..<br><strong>1  years warranty</strong></p>
            <p>Available: <strong>86</strong></p>
          </div>
          <div class="col-sm-4 push text-right">
            <h4 class="sub-header text-black">$ 799,00</h4>
            <a href="page_ready_shopping_cart.php" class="btn btn-warning"><i class="icon-shopping-cart"></i> Add to cart</a>
            <a href="javascript:void(0)" class="btn btn-success">Buy now</a>
          </div>
        </div>
        <div class="row row-items">
          <div class="col-sm-2">
            <a href="javascript:void(0)">
              <img src="/assets/placeholders/image_160x120_dark.png" class="img-responsive" alt="Image">
            </a>
          </div>
          <div class="col-sm-6 content-text">
            <h4 class="media-heading"><a href="page_ready_product.php">Product #5</a> <small>2012 Edition</small></h4>
            <p>Donec lacinia venenatis metus at bibendum.. In hac habitasse platea dictumst..<br><strong>5  years warranty</strong></p>
            <p>Available: <strong>12</strong></p>
          </div>
          <div class="col-sm-4 push text-right">
            <h4 class="sub-header text-black">$ 1499,00</h4>
            <a href="page_ready_shopping_cart.php" class="btn btn-warning"><i class="icon-shopping-cart"></i> Add to cart</a>
            <a href="javascript:void(0)" class="btn btn-success">Buy now</a>
          </div>
        </div>
        <div class="row row-items">
          <div class="col-sm-2">
            <a href="javascript:void(0)">
              <img src="/assets/placeholders/image_160x120_dark.png" class="img-responsive" alt="Image">
            </a>
          </div>
          <div class="col-sm-6 content-text">
            <h4 class="media-heading"><a href="page_ready_product.php">Product #6</a> <small>2013 Edition</small></h4>
            <p>Donec lacinia venenatis metus at bibendum.. In hac habitasse platea dictumst..<br><strong>4  years warranty</strong></p>
            <p>Available: <strong>55</strong></p>
          </div>
          <div class="col-sm-4 push text-right">
            <h4 class="sub-header text-black">$ 2247,00</h4>
            <a href="page_ready_shopping_cart.php" class="btn btn-warning"><i class="icon-shopping-cart"></i> Add to cart</a>
            <a href="javascript:void(0)" class="btn btn-success">Buy now</a>
          </div>
        </div>
        <div class="row row-items">
          <div class="col-sm-2">
            <a href="javascript:void(0)">
              <img src="/assets/placeholders/image_160x120_dark.png" class="img-responsive" alt="Image">
            </a>
          </div>
          <div class="col-sm-6 content-text">
            <h4 class="media-heading"><a href="page_ready_product.php">Product #7</a> <small>2011 Edition</small></h4>
            <p>Donec lacinia venenatis metus at bibendum.. In hac habitasse platea dictumst..<br><strong>5  years warranty</strong></p>
            <p>Available: <strong>95</strong></p>
          </div>
          <div class="col-sm-4 push text-right">
            <h4 class="sub-header text-black">$ 1369,00</h4>
            <a href="page_ready_shopping_cart.php" class="btn btn-warning"><i class="icon-shopping-cart"></i> Add to cart</a>
            <a href="javascript:void(0)" class="btn btn-success">Buy now</a>
          </div>
        </div>
        <div class="row row-items">
          <div class="col-sm-2">
            <a href="javascript:void(0)">
              <img src="/assets/placeholders/image_160x120_dark.png" class="img-responsive" alt="Image">
            </a>
          </div>
          <div class="col-sm-6 content-text">
            <h4 class="media-heading"><a href="page_ready_product.php">Product #8</a> <small>2012 Edition</small></h4>
            <p>Donec lacinia venenatis metus at bibendum.. In hac habitasse platea dictumst..<br><strong>4  years warranty</strong></p>
            <p>Available: <strong>100</strong></p>
          </div>
          <div class="col-sm-4 push text-right">
            <h4 class="sub-header text-black">$ 1445,00</h4>
            <a href="page_ready_shopping_cart.php" class="btn btn-warning"><i class="icon-shopping-cart"></i> Add to cart</a>
            <a href="javascript:void(0)" class="btn btn-success">Buy now</a>
          </div>
        </div>
        <div class="row row-items">
          <div class="col-sm-2">
            <a href="javascript:void(0)">
              <img src="/assets/placeholders/image_160x120_dark.png" class="img-responsive" alt="Image">
            </a>
          </div>
          <div class="col-sm-6 content-text">
            <h4 class="media-heading"><a href="page_ready_product.php">Product #9</a> <small>2013 Edition</small></h4>
            <p>Donec lacinia venenatis metus at bibendum.. In hac habitasse platea dictumst..<br><strong>3  years warranty</strong></p>
            <p>Available: <strong>98</strong></p>
          </div>
          <div class="col-sm-4 push text-right">
            <h4 class="sub-header text-black">$ 1310,00</h4>
            <a href="page_ready_shopping_cart.php" class="btn btn-warning"><i class="icon-shopping-cart"></i> Add to cart</a>
            <a href="javascript:void(0)" class="btn btn-success">Buy now</a>
          </div>
        </div>
        <div class="row row-items">
          <div class="col-sm-2">
            <a href="javascript:void(0)">
              <img src="/assets/placeholders/image_160x120_dark.png" class="img-responsive" alt="Image">
            </a>
          </div>
          <div class="col-sm-6 content-text">
            <h4 class="media-heading"><a href="page_ready_product.php">Product #10</a> <small>2012 Edition</small></h4>
            <p>Donec lacinia venenatis metus at bibendum.. In hac habitasse platea dictumst..<br><strong>4  years warranty</strong></p>
            <p>Available: <strong>50</strong></p>
          </div>
          <div class="col-sm-4 push text-right">
            <h4 class="sub-header text-black">$ 1477,00</h4>
            <a href="page_ready_shopping_cart.php" class="btn btn-warning"><i class="icon-shopping-cart"></i> Add to cart</a>
            <a href="javascript:void(0)" class="btn btn-success">Buy now</a>
          </div>
        </div>
        <div class="text-center">
          <ul class="pagination">
            <li class="disabled"><a href="javascript:void(0)">Prev</a></li>
            <li class="active"><a href="javascript:void(0)">1</a></li>
            <li><a href="javascript:void(0)">2</a></li>
            <li><a href="javascript:void(0)">3</a></li>
            <li><a href="javascript:void(0)">4</a></li>
            <li><a href="javascript:void(0)">5</a></li>
            <li><a href="javascript:void(0)">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>